.footer {
    margin-top: 5vh;
    margin-bottom: 3vh;
    border-radius: 10px;
    width: 100%; /* Ajusta a largura para a mesma do Hero */
    background: url('https://www.transparenttextures.com/patterns/old-paper-4.png'), #FAF1E6;
    padding: 3rem 0; /* Aumenta o espaçamento geral */
    color: #5A3D3D; /* Cor das letras, ajustada para ser suave */
    font-family: 'Arial', sans-serif;
    font-size: 0.8rem; /* Reduz ainda mais o tamanho das letras */
    text-align: center; /* Centraliza os elementos principais */
    position: relative; /* Necessário para posicionar o nome e link */
  }
  
  .footer a {
    color: #5A3D3D; /* Cor do link igual à das letras */
    text-decoration: underline; /* Remove o sublinhado do link */
  }
  
  .footer a:hover {
    color: #FA9FAE; /* Cor rosa padrão no hover */
  }
  
  .footer p {
    margin: 1rem 0; /* Aumenta o espaçamento entre os parágrafos */
  }
  
  .footer .footer-text {
    margin-bottom: 1rem; /* Espaço extra antes do texto "feito por" */
  }
  
  .footer .copyright {
    margin-top: 2rem;
    font-size: 0.75rem; /* Diminuir ainda mais o tamanho da fonte */
    color: #8A8A8A; /* Cor suave para os direitos reservados */
  }
  
  .footer .made-by {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: 0.75rem; /* Diminuir fonte */
    color: #5A3D3D; /* Cor do texto */
  }
  
  .footer .github-link {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 0.75rem; /* Diminuir fonte */
    color: #5A3D3D; /* Cor do link */
  }
  